<h2>Delete Group</h2>

<div *ngIf="data.type === 'group'">
  <div>Do you really wish to delete the group: {{ data.groupName }}?</div>
</div>
<div *ngIf="data.type === 'expense'">
  <div>
    Do you really wish to delete the expense made by {{ data.memberstring }} for
    {{ data.amount }} Euro?
  </div>
</div>
<br/>
<br/>
  <div style="display: block">
    <button  class="close" (click)="dialogClose()">Cancel</button>
    <button  class="delete" (click)="deleteSure()">
      Delete
    </button>

