<div class="startDiv">

  <div class="startText">
    <h2>Wilkommen bei ShaFi</h2>
    <h3> Allgemeine Informationen</h3>
    <p>Du bist auf der Startseite von Shared Finanz gelandet. Wir sind eine App, welches die Finanzierung deiner
      verschiedenen Projekte und die Organisation deines Freundeskreises vereinfacht.
      Wir stellen dir verschiedene Optionen zur Verfügung, um Ausgaben die von einer Person für die ganze Gruppe
      getätigt wurde, aufzunehmen und somit die Finanzen der Gruppen übersichtlich aufzunehmen. Die Zeiten mit Zettel
      und Stift sind endlich vorbei. Wenn du eine Party planst, kannst du endlich die Kosten gleichmäßig aufteilen und
      musst nicht am Ende überlegen, wer was gekauft hat und wie viel er ausgegeben hat. Wenn du im Urlaub bist, können
      alle Rechnungen aufgenommen werden und am Ende einfach verrechnet werden.</p>

    <h3>Das Besondere an unserer App?</h3>
    <p>
      Du kannst die Schulden, die du anderen gegenüber hast, mit dem Gegenwert von Aktien bezahlen. Sobald feststeht,
      wie viel du an eine Person zahlen musst, kannst du eine Aktie auswählen. Es wird berechnet, wie viele Teile dieser
      Aktie der Schuldbetrag ist und nach einer von dir festgelegten Zeit wird der Endbetrag mit dem aktuellen Kurswert
      berechnet. Hast du Glück, zahlst du weniger, hast du Pech, zahlst du ein bisschen mehr.</p>

    <h3>Wie funktioniert die App?</h3>
    <p>

      Loge dich ein und erstelle eine Gruppe mit einem passenden Namen. Füge deine Kollegen hinzu und fange an, alle
      Zahlungen in der App einzutragen. Sobald der Urlaub, die Party oder der entspannte Abend in der Bar vorbei sein,
      schließe die Abrechnung ab und es wird für jeden Nutzer eine Teilschuld bzw. eine Teilforderung berechnet. Nun
      kannst du auswählen, ob du deine Beiträge risikofrei im Barbetrag zahlen bzw. bekommen möchtest, also der
      tatsächliche Wert bezahlt werden soll, oder ob du zocken möchtest. Wähle hierfür eine Aktie aus und lege einen
      Zeitraum fest. Am Ende der Zeit wird dir der fällige Betrag dann mitgeteilt.</p>

    <!-- <h3>Bei weiteren Fragen wende dich gerne an kreativeGruppe42@web.de</h3> -->
  </div>
</div>

