<div class="startDiv">
  <div class="startText">
    <h2>Welcome to ShaFi</h2>
    <h3>General Information</h3>
    <p>
      You've landed on the home page of Shared Finance. We are an app
      that simplifies the financing of your various projects and the
      organization of your circle of friends.
      We provide you with several options to record expenses made by one person
      for the whole group and thus clearly record the group's finances.
      The days of pen and paper are finally over. If you're planning a party, you
      can finally split the costs evenly and not have to think about who bought
      what and how much they spent at the end. When you're on vacation, all the
      bills can be recorded and easily accounted for at the end.
    </p>

    <h3>What's special about our app?</h3>
    <p>
      You can pay the debts you owe to others with the equivalent of shares.
      Once you know how much you have to pay to a person, you can choose a share.
      It is calculated how many parts of this stock the debt amount is and after
      a time you specify, the final amount is calculated using the current market value.
      If you are lucky, you pay less, if you are unlucky, you pay a bit more.
    </p>

    <h3>How does the app work?</h3>
    <p>
      Log in and create a group with an appropriate name. Add your colleagues and
      start entering all payments in the app.
      As soon as the vacation, the party or the relaxing evening in the bar is over,
      close the account and a partial debt or claim will be calculated for each user.
      Now you can choose whether you want to pay or receive your contributions risk-free
      in cash, i.e. the actual value should be paid, or whether you want to gamble.
      To do this, select a stock and set a time period. At the end of the period you
      will be notified of the amount due.
    </p>

    <!-- <h3>For further questions please contact kreativeGruppe42@web.de</h3> -->
  </div>
</div>
