.groupHisoryPage {
}

.groupHisoryPageContent {
  display: flex;
  justify-content: center;
}

.groupHisoryPageContentMobile {
  display: none;
}

.heading {
  text-align: center;
  line-height: 100%;
  transform: translateY(1rem);
}

/* HISTORY */
/* HISTORY */
/* HISTORY */
/* HISTORY */
/* HISTORY */

.groupHisory {
  width: 40%;
  margin-right: 1rem;
  border-radius: 10px;
}

.groupHisory.deactiv {
  display: none;
}

.groupContainer {
  display: grid;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.AddButton {
}

.addPaymentButton {
  margin-right: 0.5rem;
  float: right;
  cursor: pointer;
  transform: translateY(-0.1rem);
}

.addPaymentButton:hover {
  /* cursor: pointer; */
}

.history {
  height: 55vh;
  margin-top: 0.7rem;
  overflow-x: auto;
  overflow-y: scroll;
  clip-path: inset(12px 0px);
}

.history::-webkit-scrollbar {
  display: none;
}

.payment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: white;
  box-shadow: 0 2px silver;
  border-radius: 10px;
  width: 93.5%;
  width: 94%;
  margin-left: 0.5rem;
}

.payment:hover {
  transform: scale(1.01);
  /* font-weight: 500; */
  cursor: pointer;
  text-decoration: none;
  transition: transform 100ms;
}

.paymentfont {
  font-size: 2rem;
}

.paymentName {
  padding-top: 1em;
  padding-bottom: 0em;
  float: left;
  text-align: left;
  width: 50%;
}

.paymentInfo {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  grid-gap: 1rem;
}

.paymentAmount {
  padding-top: 1rem;
  text-align: right;
}

.paymentArrow {
  height: inherit;
  text-align: right;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.positivAmount {
  color: green;
}

.negativAmount {
  color: red;
}

/* CHAT */
/* CHAT */
/* CHAT */
/* CHAT */
/* CHAT */

.groupChat {
  width: 40%;
  margin-left: 1rem;
  border-radius: 10px;
}
.groupChat.deactiv {
  display: none;
}

.groupChatContainer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.groupChatContent {
  background-color: white;
  box-shadow: 1px 1px 1px 1px silver;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: calc(30px + 2rem);
  text-align: center;
  height: 49.7vh;
  overflow-x: hidden;
  overflow-y: auto;
}
/* .groupchatScroll{
  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto; 
} */
.groupChatContent::-webkit-scrollbar {
  display: none;
}

.chatHeader {
  background-color: #686de0;
  box-shadow: 1px 1px 1px 1px silver;
  margin-bottom: 1rem;
  text-align: left;
  padding-left: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Chatprogramm {
  background-color: white;
  padding: 0rem 1rem 0rem 1rem;
}

.Chatprogramm::-webkit-scrollbar {
  display: none;
}

.checkUL {
  list-style: none;
  padding: 0 1rem 0 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.chatLI {
  background-color: rgb(92, 207, 211);
  border-radius: 10px;
  width: 80%;
}
.chatLI.active {
  background-color: rgb(196, 83, 181);

  margin-left: 20%;
}
.chatLIeigen {
  background-color: green;
  border-radius: 10px;
}
.chatBox {
  padding: 0.5rem;
}

.chatAbsender {
  font-weight: bold;
}

.chatDate {
  font-size: 0.5rem;
  text-align: end;
  display: flex;
  width: 20%;
  justify-content: flex-end;
  align-items: flex-end;
}
.chatInfo {
  display: flex;
}
.chatText {
  width: 80%;
  text-align: start;
}

.chatDateforInput {
  display: flex;
  justify-content: center;
}

/* BOTTOM AREA */
/* BOTTOM AREA */
/* BOTTOM AREA */
/* BOTTOM AREA */
/* BOTTOM AREA */

.closeBillArea {
  justify-content: center;
  display: grid;
  padding-top: 0rem;
  /* padding-bottom: 2rem; */
  /* transform: translateY(-7rem); */
  display: flex;
}

.closeBillButton {
  font-family: "Baloo Tammudu 2";
  font-size: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  background-color: white;
  box-shadow: 1px 1px 1px 1px silver;
  border-radius: 3rem;
  border-width: 0.01rem;
}

.closeBillButton:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: transform 150ms;
}

.smallNavHistory {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 3rem;
  width: 100%;
  font-size: 2rem;
  padding-top: 1em;
  margin-top: 1rem;
}

/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */
/* MOBILE */

.displayNone900 {
  display: block;
}

.ElementNavHis {
  font-weight: bold;
  cursor: pointer;
  text-decoration: solid;
  padding-bottom: 1rem;
  border-bottom: 5px solid black;
  transition: all 100ms ease-in-out;
}

.ElementNavHis.deactiv {
  color: gray;
  border-bottom: none;
}

.card {
  /* background-color: red; */
}

@media screen and (max-width: 1250px) {
  h1 {
    font-size: 3rem !important;
  }
  .closeBillArea {
    margin-top: 2rem;
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  .smallNavHistory {
    display: none;
  }
  .closeBillArea {
    padding-bottom: 2rem;
    transform: translateY(0rem);
  }
  .payment {
    width: 91%;
  }
}

@media screen and (max-height: 950px) {
  .closeBillArea {
    transform: translateY(1rem);
  }
}

@media screen and (max-width: 900px) {
  .groupHisoryPageContent {
    display: none;
  }

  .groupHisoryPageContentMobile {
    display: inherit;
    vertical-align: middle;
  }

  .cardContainer {
    width: 95.5%;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .swipeRightCard {
    width: 95.5%;
    display: flex;
    vertical-align: middle;
  }

  .card {
    width: 85%;
    margin: 0 0 0 0;
    vertical-align: middle;
  }

  .groupHisory {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .history {
    height: 55vh;
  }

  .groupContainer {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .groupChatContainer {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .groupChat {
    width: 100%;
    margin: 0 0 0 0;
  }
  .groupChatContent {
    height: 57.7vh;
  }

  .groupChatContent {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .closeBillArea {
    padding-bottom: unset;
    position: unset;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .smallNavHistory {
    display: flex;
  }

  .displayNone900 {
    display: none;
  }

  .payment {
    width: 93%;
  }
}

@media screen and (max-width: 400px) and (max-height: 800px) {
  .closeBillArea {
    /* transform: translateY(-1rem); */
  }
}

@media screen and (max-height: 750px) {
  .closeBillArea {
    transform: translateY(1rem);
  }
  /* .history {
    height: 50vh;
  }
  .groupChatContent {
    height: 53.5vh;
  } */
}

@media screen and (max-width: 700px) {
  .closeBillArea {
    margin-top: 1rem;
    padding: 0 0 0 0;
    transform: translateY(-1rem);
  }
  .cardContainer {
    width: 94%;
  }
}

@media screen and (max-width: 600px) {
  .closeBillArea {
    /* transform: translateY(-4rem); */
  }
}

@media screen and (max-width: 550px) {
  .cardContainer {
    width: 93.5%;
  }
  .smallNavHistory {
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .closeBillArea {
    /* transform: translateY(-6rem); */
  }
  .ElementNavHis {
    font-size: 1.5rem;
  }
  .Chatprogramm {
    padding: 0;
  }
  .card {
    width: 100%;
  }
  .cardContainer {
    width: 92.5%;
  }
  .history {
    height: 50vh;
  }
  .groupChatContent {
    height: 53.5vh;
  }
}

@media screen and (max-width: 450px) {
  .cardContainer {
    width: 92%;
  }

  .payment {
    width: 92%;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 100%;
  }
  .cardContainer {
    width: 91%;
  }
  .closeBillArea {
    transform: translateY(-2rem);
  }
  .history {
    height: 45vh;
  }
  .groupChatContent {
    height: 47.5vh;
  }
  .smallNavHistory {
    grid-gap: 1rem;
  }
  .Chatprogramm {
    padding: 0;
  }

  .payment {
    width: 91%;
  }
}

@media screen and (max-width: 400px) and (max-height: 800px) {
  .closeBillArea {
    transform: translateY(-1rem);
  }
}

@media screen and (max-width: 365px) {
  .cardContainer {
    width: 90%;
  }

  .payment {
    width: 90%;
  }
}

@media screen and (max-width: 325px) {
  .cardContainer {
    width: 89%;
  }
}

@media screen and (max-width: 300px) {
  .cardContainer {
    width: 88%;
  }
}

@media screen and (max-width: 325px) {
  .cardContainer {
    width: 89%;
  }
}

@media screen and  (max-height: 750px) {
  .closeBillArea {
    transform: translateY(1rem);
  }
}
