.groupHisoryPage {
  display: flex;
  justify-content: center;
}
.groupHisory {
  width: 40%;
  margin-right: 1rem;
  border-radius: 10px;
}

.groupContainer {
  display: grid;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.heading {
    text-align: center;
}

.addPaymentButton {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  float: right;
}

.history {
  display: grid;
}

.payment {
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: white;
  box-shadow: 1px 1px 1px 1px silver;
  border-radius: 10px;
}

.paymentName {
  padding-top: 1rem;
  padding-bottom: 0em;
  float: left;
  text-align: left;
  width: 50%;
}

.paymentAmount {
  padding-top: 1rem;
  float: right;
  text-align:right;
  width: 50%;
}

.groupChat {
  width: 40%;
  margin-left: 1rem;
  border-radius: 10px;
}

.groupChatContainer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.groupChatContent {
  background-color: white;
  box-shadow: 1px 1px 1px 1px silver;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 3.84rem;
  text-align: center;
}

.chatHeader {
    background-color: #686de0;
    box-shadow: 1px 1px 1px 1px silver;
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.closeBillArea {
  justify-content: center;
  display: grid;
  margin-top: 2.5rem;
}

.closeBillButton {
  font-family: "Baloo Tammudu 2";
  font-size: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  background-color: white;
  border-radius: 2rem;
}
