<div class="groupHisoryPage">
  <div class="groupHisory">
    <div class="groupContainer">
      <h1 class="heading">Group History</h1>
      <div><button class="addPaymentButton">+</button></div>
      <div class="history">
        <div class="payment">
          <div class="paymentName">
            <h2 class="">Cevin</h2>
          </div>
          <div class="paymentInfo">
            <div class="paymentAmount">
              <h2 class="">+9999€</h2>
            </div>
            <div class="paymentArrow">
              <h2 class="">([[]])</h2>
            </div>
          </div>
        </div>
        <div class="payment">
          <div class="paymentName">
            <h2 class="">Davit</h2>
          </div>
          <div class="paymentInfo">
            <div class="paymentAmount">
              <h2 class="">+9999€</h2>
            </div>
            <div class="paymentArrow">
              <h2 class="">([[]])</h2>
            </div>
          </div>
        </div>
        <div class="payment">
          <div class="paymentName">
            <h2 class="">Hendrick</h2>
          </div>
          <div class="paymentInfo">
            <div class="paymentAmount">
              <h2 class="">+9999€</h2>
            </div>
            <div class="paymentArrow">
              <h2 class="">([[]])</h2>
            </div>
          </div>
        </div>
        <div class="payment">
          <div class="paymentName">
            <h2 class="">Moayad</h2>
          </div>
          <div class="paymentInfo">
            <div class="paymentAmount">
              <h2 class="">+9999€</h2>
            </div>
            <div class="paymentArrow">
              <h2 class="">([[]])</h2>
            </div>
          </div>
        </div>
        <div class="payment">
          <div class="paymentName">
            <h2 class="">Niklas</h2>
          </div>
          <div class="paymentInfo">
            <div class="paymentAmount">
              <h2 class="">+9999€</h2>
            </div>
            <div class="paymentArrow">
              <h2 class="">([[]])</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="groupChat">
    <div class="groupChatContainer">
      <h1 class="heading">Group Chat</h1>
      <div class="groupChatContent">
        <div class="chatHeader">Header</div>
        <p>Niklas paid</p>
        <p>Moayad paid</p>
        <p>Davit paid</p>
        <p>Cevin paid</p>
        <p>Ramona paid</p>
        <p>Hendrick paid</p>
        <p>Moritz paid</p>
      </div>
    </div>
  </div>
</div>
<div class="closeBillArea">
  <button class="closeBillButton">Close Bill</button>
</div>
