<div class="groupHisoryPage">
  <div class="groupHisoryPageContent">
    <div class="groupHisory" [ngClass]="{ deactiv: returnGroupHistory() }">
      <div class="groupContainer">
        <h1 class="heading">Group History</h1>
        <div class="AddButton">
          <i class="fas fa-plus" (click)="addPayment()"></i>
        </div>
        <div class="history">
          <ul class="payment" *ngFor="let payment of credits; let i = index">
            <div class="paymentName">
              <h3 class="">{{ payment.username }}</h3>
            </div>
            <div class="paymentInfo">
              <div class="paymentAmount">
                <h3 class="">{{ payment.credit }}€</h3>
              </div>
              <div class="paymentArrow">
                <div *ngIf="payment.credit >= 0" class="positivAmount">
                  <i class="fas fa-plus"></i>
                </div>
                <div *ngIf="payment.credit < 0" class="negativAmount">
                  <i class="fas fa-minus"></i>
                </div>
              </div>
            </div>
            <!-- <div class="editBlock" (click)="editPayment(credits[i].id)">
              <i class="fas fa-edit"></i>
            </div>
            <div class="deleteBlock" (click)="deletePayment(credits[i].id)">
              <i class="far fa-trash-alt"></i>
            </div> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="groupChat" [ngClass]="{ deactiv: returnChatHistory() }">
      <div class="groupChatContainer">
        <h1 class="heading">Group Chat</h1>
        <div class="groupChatContent" id="scrollBlock">
          <div class="Chatprogramm">
            <div class="ChatprogrammDiv">
              <ul
                *ngFor="let message of chatContent; let i = index"
                class="checkUL"
              >
              <li *ngIf="checkDates(i)">
                <div class="chatDateforInput" >
                  {{ currentDate }} 
                  
                </div>
              </li> 
                <li
                  (click)="openDialogChatChange(i)"
                  class="chatLI"
                  [ngClass]="{ active: isactive(message.userPaid) }"
                >
                  <div class="chatBox">
                    <div class="chatAbsender">
                      <div style="width: 90%; padding-left: 5%">
                        Paid by: {{ message.userPaid }}
                      </div>

                      <div style="width: 10%"><i class="fas fa-edit"></i></div>
                    </div>
                    <div class="chatText">Amount: {{ message.amount }}</div>

                    <div class="chatText">
                      Paid for: {{ message.copayerNames }}
                    </div>

                    <div class="chatInfo">
                      <div class="chatText">Reason: {{ message.name }}</div>

                       <div class="chatDate">
                      {{getHours(message.created)}}
                      </div> 
                    </div>
                  </div>
                </li>
              </ul>

              <!--<ul *ngFor="let chat of Chats; let i = index" class="checkUL">
                 <li *ngIf="checkDate(chat.Datum)">
                  <div class="chatDateforInput">
                    {{ chat.Datum.getDate() }}.{{
                      chat.Datum.getMonth() + 1
                    }}.{{ chat.Datum.getFullYear() }}
                  </div>
                </li> 
                <li
                  (click)="openDialogChatChange(i)"
                  class="chatLI"
                  [ngClass]="{ active: isactive(chat.Absender) }"
                >
                  <div class="chatBox">
                    <div class="chatAbsender">
                      Absender: {{ chat.Absender }}
                    </div>
                    <div class="chatText">Wert: {{ chat.Value }}</div>

                    <div class="chatText">
                      Mitglieder: {{ chat.Mitglieder }}
                    </div>

                    <div class="chatInfo">
                      <div class="chatText">Grund: {{ chat.Text }}</div>

                      <div class="chatDate">
                        {{ chat.Datum.getHours() }} :
                        {{ chat.Datum.getMinutes() }}
                      </div> 
                    </div>
                  </div>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile -->

  <div class="smallNavHistory">
    <div
      class="ElementNavHis"
      [ngClass]="{ deactiv: returnGroupHistory() }"
      (click)="SwipeRight()"
    >
      Group History
    </div>
    <div
      class="ElementNavHis"
      [ngClass]="{ deactiv: returnChatHistory() }"
      (click)="SwipeLeft()"
    >
      Group Chat
    </div>
  </div>

  <div class="groupHisoryPageContentMobile">
    <mat-card
      *ngIf="!currentTabChat"
      class="cardContainer"
      [@cardAnimator]="animationState"
      (@cardAnimator.done)="resetAnimationState()"
      (swipeleft)="SwipeLeft()"
    >
      <mat-card-actions class="card">
        <div class="groupHisory" [ngClass]="{ deactiv: returnGroupHistory() }">
          <div class="groupContainer">
            <div class="displayNone900">
              <h1 class="heading">Group History</h1>
            </div>
            <div class="AddButton">
              <i class="fas fa-plus" (click)="addPayment()"></i>
            </div>

            <div class="history">
              <ul
                class="payment"
                *ngFor="let payment of credits; let i = index"
              >
                <div class="paymentName">
                  <h3 class="">{{ payment.username }}</h3>
                </div>
                <div class="paymentInfo">
                  <div class="paymentAmount">
                    <h3 class="">{{ payment.credit }}€</h3>
                  </div>
                  <div class="paymentArrow">
                    <div *ngIf="payment.credit >= 0" class="positivAmount">
                      <i class="fas fa-plus"></i>
                    </div>
                    <div *ngIf="payment.credit < 0" class="negativAmount">
                      <i class="fas fa-minus"></i>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card
      *ngIf="currentTabChat"
      class="cardContainer"
      [@cardAnimator]="animationState"
      (@cardAnimator.done)="resetAnimationState()"
      (swiperight)="SwipeRight()"
    >
      <mat-card-actions class="card">
        <div class="groupChat" [ngClass]="{ deactiv: returnChatHistory() }">
          <div class="groupChatContainer">
            <div class="displayNone900">
              <h1 class="heading">Group Chat</h1>
            </div>
            <div class="groupChatContent">
              <div id="scrollBlock" class="Chatprogramm">
                <div class="ChatprogrammDiv">
                  <ul
                *ngFor="let message of chatContent; let i = index"
                class="checkUL"
              >
              <li *ngIf="checkDates(i)">
                <div class="chatDateforInput" >
                  {{ currentDate }} 
                  
                </div>
              </li> 
                <li
                  (click)="openDialogChatChange(i)"
                  class="chatLI"
                  [ngClass]="{ active: isactive(message.userPaid) }"
                >
                  <div class="chatBox">
                    <div class="chatAbsender">
                      <div style="width: 90%; padding-left: 5%">
                        Paid by: {{ message.userPaid }}
                      </div>

                      <div style="width: 10%"><i class="fas fa-edit"></i></div>
                    </div>
                    <div class="chatText">Amount: {{ message.amount }}</div>

                    <div class="chatText">
                      Paid for: {{ message.copayerNames }}
                    </div>

                    <div class="chatInfo">
                      <div class="chatText">Reason: {{ message.name }}</div>

                       <div class="chatDate">
                      {{getHours(message.created)}}
                      </div> 
                    </div>
                  </div>
                </li>
              </ul>
                  <!-- <ul *ngFor="let chat of Chats; let i = index" class="checkUL">
                    <li *ngIf="checkDate(chat.Datum)">
                      <div class="chatDateforInput">
                        {{ chat.Datum.getDate() }}.{{
                          chat.Datum.getMonth() + 1
                        }}.{{ chat.Datum.getFullYear() }}
                      </div>
                    </li>
                    <li
                      (click)="openDialogChatChange(i)"
                      class="chatLI"
                      [ngClass]="{ active: isactive(chat.Absender) }"
                    >
                      <div class="chatBox">
                        <div class="chatAbsender">
                          Absender: {{ chat.Absender }}
                        </div>
                        <div class="chatText">Wert: {{ chat.Value }}</div>

                        <div class="chatText">
                          Mitglieder: {{ chat.Mitglieder }}
                        </div>

                        <div class="chatInfo">
                          <div class="chatText">Grund: {{ chat.Text }}</div>

                          <div class="chatDate">
                            {{ chat.Datum.getHours() }} :
                            {{ chat.Datum.getMinutes() }}
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="closeBillArea">
    <button class="closeBillButton" (click)="closeBill()">Close Bill</button>
  </div>
</div>
