
<h2>Übersicht</h2>

<h3>Eingetragen von {{data.Absender}}</h3>

<mat-form-field appearence="legacy" color="accent"> 
    <mat-label>Grund</mat-label>
    <input matInput value={{data.Text}} #box1 >
   <!--  (keyup)="getValue(box.value)" -->
    <!-- <mat-hint align="end">Min 5 character</mat-hint> -->
  </mat-form-field>

  <mat-form-field appearence="legacy" color="accent"> 
    <mat-label>Wert der Zahlung</mat-label>
    <input matInput value={{data.Value}} #box2 >
   <!--  (keyup)="getValue(box.value)" -->
    <!-- <mat-hint align="end">Min 5 character</mat-hint> -->
  </mat-form-field>
  
  <mat-form-field appearence="legacy" color="accent"> 
    <mat-label>Mitgliedern</mat-label>
    <input matInput value={{data.Mitglieder}} #box3 >
   <!--  (keyup)="getValue(box.value)" -->
    <!-- <mat-hint align="end">Min 5 character</mat-hint> -->
  </mat-form-field>

  <button (click)="dialogClose()">Abbrechen</button>
  <button (click) =" safeChatDialog(box1.value, box2.value, box3.value) ">Speichern</button> 

<!--   value={{data.Mitglieder}} -->