<body style="background: var(--maincolor); height: 100%; padding-top: 5rem;">
    <h2 style="line-height: 0px; margin-top: 0rem; margin-left: 1rem;">
        Ein/Auszahlungen
    </h2>
    <p style="margin-left: 1rem;">
        Hier sehen sie die Übersicht ihrer einzelnen Zahlungen
    </p>
    <div style="width:50%">
        <h3 style="padding-left: 1rem;">Fällige Zahlungen:</h3>
        <div *ngFor = "let data of zahlungExample">
            <div *ngIf = 'data.type == "Faellig"'>
                <app-zahlungsblock [zahlung] = "data"></app-zahlungsblock>
            </div>
        </div> 
    </div>
    <div style="display: flex;">
        <div style="width:50%">
            <h3 style="padding-left: 1rem;">Einzahlungen:</h3>
            <div *ngFor = "let data of zahlungExample">
                <div *ngIf = 'data.type == "Einzahlung"'>
                    <app-zahlungsblock [zahlung] = "data"></app-zahlungsblock>
                </div>
            </div> 
        </div>
        <div style="width:50%;">
            <h3 style="padding-left: 1rem;">Auszahlungen:</h3>
            <div *ngFor = "let data of zahlungExample">
                <div *ngIf = 'data.type == "Auszahlung"'>
                    <app-zahlungsblock [zahlung] = "data"></app-zahlungsblock>
                </div>
            </div>
        </div>
    </div>
</body> 
