<div class="groupOverviewPage">
    <div>
        <h1 class="header">
            Payments
        </h1>
        <p class="subHeader">
            Here you can see the overview of your individual payments
        </p>
        <div *ngIf = "!mobile" class="desktopView">
            <div>
                <h2 class="headerZahlungen">Open payments:</h2>
                <div *ngFor = "let data of displayedPayments">
                    <div *ngIf = 'data.type == "open"'>
                        <app-zahlungsblock [zahlung] = "data"></app-zahlungsblock>
                        <div *ngIf = 'data.proposeType == 0'>
                            <button class="openButtons" [disabled]='true'> Wait for debtor</button>
                        </div>
                        <div *ngIf = 'data.proposeType == 1'>
                            <button id="{{'prefered-' + data.debtId}}" class="openButtons" (click)="onProposeShare($event)"> Propose prefered Share</button>
                        </div>
                        <div *ngIf = 'data.proposeType == 2'>
                            <button id="{{'accept-' + data.debtId}}" class="openButtons" (click)="onAcceptShare($event)"> Accept Share</button>
                            <button id="{{'new-' + data.debtId}}" (click)="onProposeShare($event)"> Propose new Share</button>
                        </div>
                    </div>
                </div> 
            </div>
            <div>
                <h3 class="headerZahlungen">Due payments:</h3>
                <div *ngFor = "let data of displayedPayments">
                    <div *ngIf = 'data.type == "due && data.paid === false"'>
                        <app-zahlungsblock [zahlung] = "data"></app-zahlungsblock>
                    </div>
                </div> 
            </div>
            <div>
                <div>
                    <h3 class="headerZahlungen">Deposits:</h3>
                    <div *ngFor = "let data of displayedPayments">
                        <div *ngIf = 'data.type == "deposit"'>
                            <app-zahlungsblock [zahlung] = "data"></app-zahlungsblock>
                        </div>
                    </div> 
                </div>
                <div>
                    <h3 class="headerZahlungen">Payments:</h3>
                    <div *ngFor = "let data of displayedPayments">
                        <div *ngIf = 'data.type == "payment"'>
                            <app-zahlungsblock [zahlung] = "data"></app-zahlungsblock>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile -->
        <div class="mobile" *ngIf = "mobile">
            <div>
                <h2 class="headerZahlungen">Open payments:</h2>
                <div *ngFor = "let data of displayedPayments">
                    <div *ngIf = 'data.type == "open"'>
                        <app-zahlungsblock [zahlung] = "data"></app-zahlungsblock>
                        <div *ngIf = 'data.proposeType == 0'>
                            <button class="openButtons" [disabled]='true'> Wait for debtor</button>
                        </div>
                        <div *ngIf = 'data.proposeType == 1'>
                            <button id="{{'prefered-' + data.debtId}}" class="openButtons" (click)="onProposeShare($event)"> Propose prefered Share</button>
                        </div>
                        <div *ngIf = 'data.proposeType == 2'>
                            <button id="{{'accept-' + data.debtId}}" class="openButtons" (click)="onAcceptShare($event)"> Accept Share</button>
                            <button id="{{'new-' + data.debtId}}" (click)="onProposeShare($event)"> Propose new Share</button>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="smallNavHistory">
                <div
                  class="ElementNavHis"
                  id = "faelligId"
                  [ngClass]="{ deactiv: returnFaellig() }"
                  (click)="Swipe('faelligId')"
                >
                    <h3 id="test1">
                        Due payments  
                    </h3>
                </div>
                <div
                  class="ElementNavHis"
                  id = "einzahlungId"
                  [ngClass]="{ deactiv: returnEinzahlung() }"
                  (click)="Swipe('einzahlungId')"
                >
                    <h3 id="test2">
                        Deposits
                    </h3>
                </div>
                <div
                  class="ElementNavHis"
                  id = "auszahlundId"
                  [ngClass]="{ deactiv: returnAuszahlung() }"
                  (click)="Swipe('auszahlungId')"
                >
                    <h3 id="test3">
                        Payments
                    </h3>
                </div>
            </div>
            <mat-card
            id="faelligTest"
            *ngIf="currentId == 'faelligId'"
            class="cardContainer"
            [@cardAnimator]="animationState"
            (@cardAnimator.done)="resetAnimationState()"
            (swipe)="Swipe('faelligId')"
            >
            <mat-card-actions class="card">
                <div class="groupHisory" [ngClass]="{ deactiv: returnFaellig() }">
                    <div *ngFor = "let data of displayedPayments">
                        <div *ngIf = 'data.type == "due"'>
                            <app-zahlungsblock [zahlung] = "data"></app-zahlungsblock>
                            <div *ngIf="data.inOrOut === '+'">
                                <button id="{{'due-' + data.debtId}}" class="openButtons" (click)="onCloseShare($event)"> Debt is paid</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-actions>
            </mat-card>
            <mat-card
            id="einzahlungTest"
            *ngIf="currentId == 'einzahlungId'"
            class="cardContainer"
            [@cardAnimator]="animationState"
            (@cardAnimator.done)="resetAnimationState()"
            (swipe)="Swipe('einzahlungId')"
            >
            <mat-card-actions class="card">
                <div class="groupHisory" [ngClass]="{ deactiv: returnEinzahlung() }">
                    <div *ngFor = "let data of displayedPayments">
                        <div *ngIf = 'data.type == "deposit"'>
                            <app-zahlungsblock [zahlung] = "data"></app-zahlungsblock>
                        </div>
                    </div>
                </div>
            </mat-card-actions>
            </mat-card>
            <mat-card
            id="auszahlungTest"
            *ngIf="currentId == 'auszahlungId'"
            class="cardContainer"
            [@cardAnimator]="animationState"
            (@cardAnimator.done)="resetAnimationState()"
            (swipe)="Swipe('auszahlungId')"
            >
            <mat-card-actions class="card">
                <div class="groupHisory" [ngClass]="{ deactiv: returnAuszahlung() }">
                    <div *ngFor = "let data of displayedPayments">
                        <div *ngIf = 'data.type == "payment"'>
                            <app-zahlungsblock [zahlung] = "data"></app-zahlungsblock>
                        </div>
                    </div>
                </div>
            </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div> 
