<section class="block">
    <div class="layoutBlock">
        <section class="elementLeft">
            <h2>
                {{zahlung.name}}
            </h2>
            <div class="horizontal">
                <i class="fas fa-chart-bar chartIcon"></i>
                <div>
                    <p class="amount">
                        {{zahlung.inOrOut}}  {{zahlung.amount}} €
                    </p>
                </div>
            </div>
            <div *ngIf="zahlung.shareName !== '0'">
                <p class="shares"> Paid with: {{zahlung.proportion}} {{zahlung.shareName}} - Shares</p>
            </div>
        </section>
        <section class="elementRight">
            <div class="layoutRight" *ngIf="!this.mobile">
                <div>
                    <div class="horizontal">
                        <i class="fas fa-calendar-check dateIcons"></i>
                        <p>
                            Creation date:
                        </p>
                        <p class="date">
                            {{zahlung.startDate}}
                        </p>
                    </div>
                </div>
                <div class="horizontal">
                    <i class="fas fa-calendar-times dateIcons"></i>
                    <p>
                        Due date:
                    </p>
                    <p class="date">
                        {{zahlung.endDate}}
                    </p>
                </div>
            </div>
            <div class="layoutRight" *ngIf="this.mobile">
                <div class="horizontal">
                    <i class="fas fa-calendar-check dateIcons"></i>
                    <p>
                        Creation date:
                    </p>
                    <p class="date">
                        {{zahlung.startDate}}
                    </p>
                </div>
                <div class="horizontal">
                    <i class="fas fa-calendar-times dateIcons"></i>
                    <p>
                        Due date:
                    </p>
                    <p class="date">
                        {{zahlung.endDate}}
                    </p>
                </div>
            </div>
        </section>
    </div>
    <div>
        <p> 
            The amount shown is determined by the market value of the selected share.
        </p>
    </div>
</section>