.block {
    background-color: var(--boxcolor);
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;  
    margin-right: 20px;  
    margin-bottom: 20px;   
    border-radius: 10px;
    box-shadow: 2px 2px 4px var(--shadowcolor);
}
.layoutBlock {
    display: flex;
}
.elementLeft{
    width: 50%;
}
.elementRight{
    width: 50%;
}
.reason {
    margin-top: 0rem;
    line-height: 0%;
}

.horizontal{
    display:inline-flex;
    padding-top: 0rem;
}

.shares {
  padding-top: 0rem;
}

.amount {
  margin-top: 1.6rem !important;
  font-size: 2rem !important;
}

.date {
  font-weight: bold; 
  padding-left:0.5rem;
  padding-right: 1rem;
}

.creationDate {
  /* padding-top: 5rem !important; */
  margin-top: 0.7rem !important;
}

.dueDate {
  /* padding-top: 5rem !important; */
  margin-top: 0.7rem !important;
}

.layoutRight {
    float:right; 
    align-items: center; 
    padding: 30px 0; 
}

.dateIcons {
    padding-right: 1rem;
    font-size: 200%;
}
.chartIcon {
    padding-right: 1rem;
    padding-top: 1rem; 
    font-size: 300%;
}

@media screen and (max-width: 1486px) {
    h1 {
      font-size: 4rem !important;
    }
  }
  
  @media screen and (max-width: 1250px) {
    h1 {
      font-size: 3.5rem !important;
    }
  }
  
  @media screen and (max-width: 1075px) {
    h1 {
      font-size: 3rem !important;
    }
    .block {
        margin-left: 0.5rem !important;  
        margin-right: 0.5rem !important; 
    }
    .layoutBlock {
        display:unset;
        
    }
    .horizontal {
        padding-top: 0rem !important;
    }
    .layoutRight {
        padding-top: 0rem !important;
    }
  }
  
  @media screen and (max-width: 930px) {
    h1 {
      font-size: 2.8rem !important;
    }
    h2 {
        font-size: 2rem!important;
    }
  }

  @media screen and (max-width: 900px) {
    .groupOverview {
      width: 90%;
    }
    h2 {
        font-size: 2rem!important;
    }
  }

  @media screen and (max-width: 420px) {
    h1 {
      font-size: 2.3rem !important;
    }
    h2 {
        font-size: 1.8rem!important;
        margin-bottom: 0rem !important;
    }
    h3 {
        font-size: 1.2rem !important;
        text-align: center;
    }
    .layoutBlock {
        display:unset;
    }
    .elementLeft{
        width: 100%;
    }
    .elementRight{
        width: 100%;
    }
    .horizontal {
        padding-top: 0rem !important;
    }
    .layoutRight {
        padding-top: 0rem !important;
    }
  }
  
  @media screen and (max-width: 360px) {
    h1 {
      font-size: 2.2rem !important;
    }
    h2 {
        font-size: 1.6rem!important;
        margin-bottom: 0rem !important;
    }
    h3 {
        font-size: 1rem !important;
        text-align: center;
    }
  }