<section class="block">
    <div style="display: flex; !important">
        <section class="elementLeft">
            <p style="font-size: 3rem !important; line-height:0px !important; margin-bottom: 0px !important;">
                {{zahlung.name}}
            </p>
            <p>
                {{zahlung.reason}}
            </p>
            <div class="horizontal">
                <i class="fas fa-chart-bar chartIcon"></i>
                <div *ngIf = 'zahlung.type == "Einzahlung"'>
                    <p style="font-size: 2rem !important;">
                        +  {{zahlung.amount}} EURO
                    </p>
                </div>
                <div *ngIf = 'zahlung.type == "Auszahlung"'>
                    <p style="font-size: 2rem !important;">
                        -  {{zahlung.amount}} EURO
                    </p>
                </div>
            </div>
        </section>
        <section class="elementRight">
            <div style="float:right; align-items: center; padding: 30px 0 ">
                <div class="horizontal">
                    <i class="fas fa-calendar-check dateIcons"></i>
                    <p>
                        Entstehungsdatum:
                    </p>
                    <p style="font-weight: bold !important; padding-left:0.5rem !important; padding-right: 1rem !important;">
                        {{zahlung.startDate}}
                    </p>
                </div>
                <div class="horizontal" style="padding-top: 1rem;">
                    <i class="fas fa-calendar-times dateIcons"></i>
                    <p>
                        Fälligkeitsdatum:
                    </p>
                    <p style="font-weight: bold !important; padding-left:0.5rem !important; padding-right: 1rem !important;">
                        {{zahlung.endDate}}
                    </p>
                </div>
            </div>
        </section>
    </div>
    <p style="line-height:0px !important;">
        Der gezeigte Betrag wird durch den Kurswert der ausgewählten Aktie bestimmt.
    </p>
</section>