.groupOverviewPage {
  display: flex;
  justify-content: center;
}

.heading {
  text-align: center;
  transform: translateY(1rem);
}

.groupOverview {
  width: 40%;
  margin-right: 1rem;
  border-radius: 10px;
}

.groupContainer {
  display: grid;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.AddButton {
  justify-self: flex-end;
  width: 5%;
  font-size: 2rem;
  color: black;
}

.AddButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 100ms;
}

.addGroupButton {
  margin-right: 0.5rem;
  margin-top: 0.8rem;
  float: right;
  transform: translateY(-0.1rem);
}

.addGroupButton:hover {
  cursor: pointer;
}

.groups {
  overflow-x: auto;
  overflow-y: scroll;
  height: 49vh;
  margin-top: 0.8rem;
  clip-path: inset(13px 0px 5px 0px);
}

.groups::-webkit-scrollbar {
  display: none;
}

.group {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
  background-color: white;
  box-shadow: 1px 1px 1px 1px silver;
  border-radius: 10px;
  width: 96%;
}

.group:hover {
  transform: scale(1.01);
  /* font-weight: 500; */
  cursor: pointer;
  text-decoration: none;
  transition: transform 100ms;
}

.groupPreview {
  width: 40%;
  margin-left: 1rem;
  border-radius: 10px;
}

.groupPreviewContainer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.groupPreviewContent {
  background-color: white;
  box-shadow: 1px 1px 1px 1px silver;
  border-radius: 10px;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-top: 4.54rem;
  min-height: 20vh;
}

.moreDetailsButton {
  float: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin: 0 0 0 0;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  background-color: #8f92ec;
  border-radius: 50px;
}

.moreDetailsButton:hover {
  transform: scale(1.05);
  /* font-weight: 500; */
  cursor: pointer;
  transition: transform 150ms;
}

.GroupBlockleft {
  text-align: left;
  width: 90%;
}
.GroupBlockright {
  font-size: 1.3rem;
  padding: 0rem 0.5rem 0 0;
  transform: translateY(-10px);
}
.GroupBlockTrash {
  font-size: 1.3rem;
  padding: 0rem 0.5rem 0 0;
  transform: translateY(-10px);
  color: red;
}

@media screen and (min-width: 900px) {
  /* .mobileNav {
        display: none;
    } */
}

@media screen and (max-width: 1486px) {
  h1 {
    font-size: 4rem !important;
  }
}

@media screen and (max-width: 1250px) {
  h1 {
    font-size: 3.5rem !important;
  }
  .group {
    width: 95%;
  }
}

@media screen and (max-width: 1075px) {
  h1 {
    font-size: 3rem !important;
  }
}

@media screen and (max-width: 1000px) {
  .group {
    width: 94%;
  }
}

@media screen and (max-width: 930px) {
  h1 {
    font-size: 2.8rem !important;
  }
}

@media screen and (max-width: 900px) {
  .groupOverview {
    width: 90%;
  }
  .groupPreview {
    display: none;
  }
  .group {
    width: 96%;
  }
}

@media screen and (max-width: 620px) {
  .groupOverviewPage {
    margin-top: 1rem;
  }
  .group {
    width: 95%;
  }
}

@media screen and (max-width: 470px) {
  .group {
    width: 94%;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2.3rem !important;
  }
  .group {
    width: 94%;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 2.2rem !important;
  }
  .group {
    width: 93%;
  }
}
