<h1>Hello, it's Moayad!</h1>

<div className="groupOverviewPage">
  <div className="groupOverview" >
    <div className="groupContainer">
    <h1 className=""> Groups Overview </h1>
      <span (click)="addGroup()">Button</span>
      <button className="addGroupButton">+</button>
      <div className="group"></div>
      <div style="color: black; background-color: red;">TEST</div>
    </div>
  </div>
  <div className="groupPreview">
    <div className="groupPreviewContainer">
        <h1 className=""> Group Preview </h1>
      <p>Das ist ein Text</p>
      <button className="moreDetailsButton">more details</button>
    </div>
  </div>
</div>
