.groupOverviewPage {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.groupOverview {
  width: 40%;
  margin-right: 1rem;
  border-radius: 10px;
}

.groupContainer {
  display: grid;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.heading {
  text-align: center;
}

.addGroupButton {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  float: right;
}

.groups {
}

.group {
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  background-color: white;
  box-shadow: 1px 1px 1px 1px silver;
  border-radius: 10px;
}

.groupPreview {
  width: 40%;
  margin-left: 1rem;
  border-radius: 10px;
}

.groupPreviewContainer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.groupPreviewContent {
  background-color: white;
  box-shadow: 1px 1px 1px 1px silver;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 3.7rem;
}

.moreDetailsButton {
  float: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin: 0 0 0 0;
  padding: 1rem 2rem 1rem 2rem;
  color: white; 
  background-color: #8f92ec; 
  border-radius: 50px;
}
