<div class="groupOverviewPage" (resized)="onResized($event)">
  <div class="groupOverview">
    <div class="groupContainer">
      <h1 class="heading">Groups Overview</h1>
      <div class="AddButton">
        <i class="fas fa-plus" (click)="addGroup()"></i>
      </div>
      <div class="groups">
        <ul class="group" *ngFor="let group of Groups; let i = index">
          <div class="flexElement">
            <div class="GroupBlockleft" (click)="previewGroup(group)">
              <h3>{{ Groups[i].name }}</h3>
            </div>
            <div (click)="editGroup(Groups[i].id, i)" class="GroupBlockright">
              <i class="fas fa-edit"></i>
            </div>
            <div (click)="deleteGroup(Groups[i].id, i)" class="GroupBlockTrash">
              <i class="far fa-trash-alt"></i>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="groupPreview">
    <div class="groupPreviewContainer">
      <h1 class="heading">Group Preview</h1>
      <div
        class="groupPreviewContent"
        *ngIf="groupToPreview == null; else groupsExistBlock"
      >
        <div>
          <h4>Here you can find a group details when you click on it</h4>
        </div>
      </div>
      <ng-template #groupsExistBlock>
        <div class="groupPreviewContent">
          <h4>Group Name: {{ groupToPreview.name }}</h4>
          <br />
          <h4>Group Members: </h4>
            <ul *ngFor="let members of groupToPreview.myUsers; let i = index">
              <p>{{groupToPreview.myUsers[i]}}</p>
            </ul>
        </div>
      </ng-template>
    </div>
    <button class="moreDetailsButton" (click)="openGroup(groupToPreview.id)">
      more details
    </button>
  </div>
</div>
