<div>
  <div class="flexDisplay">
    <h1>Welcome to ShaFi</h1>
  </div>
  <div class="GruppenÜbersichtdiv">
    <h2>Group overview</h2>
  </div>
  <div class="Gruppenübersicht">
    <div class="Gruppenübersichtblock">
      <ul *ngFor="let group of Groups; let i = index" class="GroupElement">
        <div
          class="GurppenBlock"
          (click)="this.router.navigate(['/', 'group', group.id])"
        >
          <div class="ZahlungReceiver">{{ group.name }}</div>
        </div>
      </ul>
    </div>
    <!--   <div style="width: 100%; display: flex; align-items:center; justify-content: center;"> -->
    <div class="outerButtonrerout">
      <div
        class="Buttonrerout"
        (click)="this.router.navigate(['/group-overview'])"
        style="margin-bottom: 0"
      >
        More Groups
      </div>
    </div>
    <!-- </div> -->
  </div>

  <div class="GruppenÜbersichtdiv">
    <h2>Due payments</h2>
  </div>
  <div class="Zahlungübersicht">
    <div class="Zahlungübersichtblock">
      <ul *ngFor="let zahlung of Zahlungen; let i = index" class="GroupElement">
        <div class="ZahlungBlock">
          <li>
            <div class="Zahlungseinzel">
              <div class="ZahlungReceiver">{{ zahlung.receiver }}</div>
              <div class="ZahlungAmount" *ngIf="zahlung.amount >= 0">
                +{{ zahlung.amount }}
              </div>
              <div class="ZahlungAmount" *ngIf="zahlung.amount < 0">
                -{{ zahlung.amount }}
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
  <div class="outerButtonrerout">
    <div class="Buttonrerout" (click)="this.router.navigate(['/zahlungen'])">
      Overview payments
    </div>
  </div>
</div>
