<div>
  <div class="flexDisplay">
  <h1>Willkommen bei ShaFi</h1>
</div>
  <div class="GruppenÜbersichtdiv">
    <h2>Gruppenübersicht</h2>
  </div>
  <div class="Gruppenübersicht">
    <div class="Gruppenübersichtblock">
    
    <ul *ngFor="let group of Groups; let i = index" class="GroupElement">
      <div class="GurppenBlock">
        <li>
          <div class="ZahlungReceiver" (click)="this.router.navigate(['/group-overview']);"> {{group.groupName}} </div>
          
        </li>
      </div>
      
    </ul>
  </div>
<!--   <div style="width: 100%; display: flex; align-items:center; justify-content: center;"> -->
  <div class="outerButtonrerout" >
  <div class="Buttonrerout" (click)="this.router.navigate(['/group-overview']);" style="margin-bottom: 0">
  Weitere Gruppen
</div></div>
<!-- </div> -->
    


  </div>

  <div class="GruppenÜbersichtdiv">
    <h2>Fällige Zahlung</h2>
  </div>
  <div class="Zahlungübersicht">
    <div class="Zahlungübersichtblock">
    
    <ul *ngFor="let zahlung of Zahlungen; let i = index" class="GroupElement">
      <div class="ZahlungBlock">
        <li>
          <div class="Zahlungseinzel">

            <div class="ZahlungReceiver"> {{zahlung.receiver}} </div>
            <div class="ZahlungAmount" *ngIf="zahlung.amount >=0"> +{{zahlung.amount}} </div>
            <div class="ZahlungAmount" *ngIf="zahlung.amount < 0"> -{{zahlung.amount}} </div>
          
        </div>
        </li>
      </div>
      
    </ul>
  </div>
</div>
<div class="outerButtonrerout" >
    <div class="Buttonrerout" (click)="this.router.navigate(['/zahlungen']);">
      Übersicht der Zahlungen
    </div>
  </div>
</div>

