@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Open+Sans:wght@400&display=swap');

.NavBarWhite {
  color: whitesmoke;
  display: flex;
  height: 5rem;
  z-index: 10;
  padding: 0.5rem 0 0.5rem 0;
  background: #8E2DE2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav {
  display: flex;
}

.MenuList {
  display: flex;
  margin: 0 0 0 3rem;
  padding: 0 0 0 0;
  list-style: none;
  height: inherit;
  justify-content: center;
  align-items: center;
}

a {
  font-family: "Franklin Gothic Medium", serif;
}

.NavListElement {
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", serif;
  text-decoration: none;
  list-style: none;
  height: auto;
  font-size: 1.5rem;
  padding: 2rem 2rem 2rem 2rem;
  transition: 500ms;
}

.NavListElement:hover {
  transition: 500ms;
  font-size: 1.7rem;
}

.logo {
  height: inherit;
  margin-left: 1rem;
}

.LoginFeld {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.LoginButton {
  background-color: rgba(0, 0, 0, 0);
  border:  2px solid #ffe9c8;
  color: #f5f6fa;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin-right: 2rem;
  border-radius: 3rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  /* box-shadow: 1px 1px 3px 3px #303952; */
  width: 200px;
  text-align: center;
  transition: 500ms;
}

.LoginButton:hover {
  background-color: #ffe9c8;
  transition: 500ms;
  color: #222f3e;
  font-family: 'Barriecito', sans-serif;
  width: 200px;
  text-align: center;
}

.LoginButton:hover::after {
  transition: 500ms;
}

.BurgerMenu {
  display: none;
  background: #8E2DE2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.MobileSiteMenu {
  width: 60vw;
  height: 100vh;
  background-color: #1D4350;
  color: whitesmoke;
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 1000;
  transition: all 0.8s ease;
}

.active {
  left: 0;
}

.UserIcon {
  font-size: 4rem;
  padding: 2rem 0 0 2rem;
  display: flex;
  color: whitesmoke;
  cursor: pointer;
  margin-bottom: 2rem;
  border-bottom: 1px solid whitesmoke;
}

.UserName {
  font-size: 2rem;
  margin: 0 0 0 1rem;
  align-items: center;
  display: flex;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.BurgerMenuActiv {
  width: 0;
  height: 100vh;
  background-color: gray;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  transition: all 0.8s;
}

.BurgerMenuNotActiv {
  width: 100vw;
  transition: all 0.8s;

  height: 100vh;
  background-color: gray;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}

/* .MobileSiteMenu.active{

    transform: translateX(0);
    transition: transform 0.8s ease-in-out;
} */

.UserIcon {
  font-size: 4rem;
  padding: 4rem 0 2rem 2rem;
  display: flex;
  color: white;
  cursor: pointer;
}

.BurgerNavList {
  list-style: none;
  margin: 0 0 0 2rem;
  padding: 0 0 0 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.BurgerNavListElement {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
}

/*.BurgerNavListElement:hover {
  transition: 0.4s;
  animation-timing-function: ease;
  font-size: 1.2rem;
}*/

/*Start*/

.BurgerNavListElement:after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 3px;
  height: 3px;
  left: 0;
  bottom: 0
}

.BurgerNavListElement:focus:after,
.BurgerNavListElement:hover:after {
  width: 100%;
  height: 3px
}

.BurgerNavListElement {
  position: relative;
  z-index: 2;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  padding: 10px 0 10px 0;
  white-space: nowrap;
  overflow: hidden
}


.BurgerNavListElement:focus,
.BurgerNavListElement:hover {
  outline: 0;
  color: whitesmoke;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  cursor: pointer
}

.BurgerNavListElement:after,
.BurgerNavListElement:before {
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s
}

.BurgerNavListElement:focus:after,
.BurgerNavListElement:focus:before,
.BurgerNavListElement:hover:after,
.BurgerNavListElement:hover:before {
  outline: 0;
  background-color: whitesmoke;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -ms-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s
}

/* End */

.BurgerNavListElementEinstellung {
  text-decoration: none;
  color: white;
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 1.8rem;
  cursor: pointer;
}

.BurgerNavListElementEinstellung:hover {
  font-size: 2rem;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .NavListElement {
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  .NavListElement:hover {
    font-size: 1.2rem;
  }

  .LoginButton {
    font-size: 1rem;
    margin-right: 1rem;
  }

  .LoginButton:hover {
    font-size: 1.1rem;
    margin-right: 1rem;
  }

  .MenuList {
    margin: 0 0 0 2rem;
  }
}

@media screen and (max-width: 300px) {
  .UserIcon {
    display: grid !important;
  }

  .UserName {
    margin: 2rem 0 0 0;
  }

  .NavListElement {
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  .NavBarWhite {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100vw;
    justify-content: center;
    padding: 0 0 0 0;
  }

  .logo {
    display: none;
  }

  .LoginFeld {
    display: none;
  }

  .MenuList {
    margin: 0 0 0 0;
  }

  .MenueIcons {
    font-size: 2rem;
    padding: 0 0 0 1rem;
    color: white;
  }

  .MenueIconstimes {
    font-size: 2rem;
    position: fixed;
    top: 0;
    color: white;
    padding: 1rem 0 0 75vw;
    z-index: 5;
  }

  .BurgerMenu {
    padding: 1rem 0 1rem 0;
    display: block;
    z-index: 1;
    transition: all 0.5s ease;
  }

  .BurgerNavListElement {
    font-size: 1rem;
  }

  .BurgerNavListElement:hover {
    font-size: 1rem;
  }

  .MobileSiteMenu {
    width: 90vw;
  }
}

@media screen and (min-width: 300px) and (max-width: 450px) {
  .UserIcon {
    display: grid !important;
  }

  .UserName {
    margin: 2rem 0 0 0;
  }

  .NavListElement {
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  .NavBarWhite {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100vw;
    justify-content: center;
    padding: 0 0 0 0;
  }

  .logo {
    display: none;
  }

  .LoginFeld {
    display: none;
  }
  .logedin{
    display: none
  }


  .MenuList {
    margin: 0 0 0 0;
  }

  .MenueIcons {
    font-size: 2rem;
    padding: 0 0 0 1rem;
    color: white;
  }

  .MenueIconstimes {
    font-size: 2rem;
    position: fixed;
    top: 0;
    color: white;
    padding: 1rem 0 0 60vw;
    z-index: 5;
  }

  .BurgerMenu {
    padding: 1rem 0 1rem 0rem;
    display: block;
    z-index: 1;
    transition: all 0.5s ease;
  }

  .BurgerNavListElement {
    font-size: 1.3rem;
  }

  .BurgerNavListElementEinstellung {
    font-size: 1rem;
  }

  .MobileSiteMenu {
    width: 70vw;
  }

  .BurgerNavListElement:hover {
    font-size: 1rem;
  }


  .MenuList {
    margin: 0 0 0 0;
  }
}

@media screen and (min-width: 450px) and (max-width: 700px) {
  .NavListElement {
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  .NavBarWhite {
    position: fixed;
    bottom: 0;
    background: white;
    width: 100vw;
    justify-content: center;
    padding: 0 0 0 0;
  }

  .logo {
    display: none;
  }

  .LoginFeld {
    display: none;
  }

  .MenuList {
    margin: 0 0 0 0;
  }

  .MenueIcons {
    font-size: 2rem;
    padding: 0 0 0 1rem;
    color: white;
    cursor: pointer;
  }

  .MenueIconstimes {
    font-size: 2rem;
    position: fixed;
    top: 0;
    color: white;
    padding: 1rem 0 0 50vw;
    z-index: 5;
    cursor: pointer;
  }

  .BurgerMenu {
    padding: 1rem 0 1rem 0rem;
    display: block;
    z-index: 1;
    transition: all 0.5s ease;
  }
}
