<header>

  <div class="NavBarWhite">
    <a href="#"  class = "logo" >
      
      <img class = "logo" src="./assets/LogoPlaceholder7.png"/>
  
    </a>
    <nav >
      <ul>
        <li>
          
          <a class="NavListElement" href="#" routerLink="/">
            Home
          </a></li>
          <li><a class="NavListElement" href="#" routerLink="/">       
            Gruppen
          </a>
        </li>
        <li>
          <a class="NavListElement" href="#" routerLink="/">
            Zahlungen
          </a></li>
          <li><a class="NavListElement" href="#" routerLink="/">       
            Aktien
          </a>
        </li>
      </ul>
    </nav>

    <div  class = "LoginFeld" >
      <a class="LoginButton" href="#" routerLink="/">
      Konto erstellen
    </a>
    </div>

  </div>
</header>

<body style="background-color: blue; height: 200vh;">
  <h1>
    Das ist der Text
  </h1>
</body>