

<mat-form-field appearence="legacy" color="accent">
  <mat-label>Group Name</mat-label>
  <input matInput value="{{ data.groupName }}" #box1 />
</mat-form-field>

<mat-form-field appearence="legacy" color="accent">
  <mat-label>Members</mat-label>
  <input matInput value="{{ data.members }}" #box2 />
</mat-form-field>

<div style="display: block">
  <button (click)="dialogClose()">Cancel</button>
  <button
    (click)="
      data.groupName = box1.value; data.members = box2.value; dialogClose()
    "
  >
    Save
  </button>
</div>
