
<div *ngIf = "data.groupName === null">
  <h2>Create Group</h2>
</div>
<div *ngIf = "data.groupName !== null">
  <h2>Edit Group</h2>
</div>

<br />
<div class="fields">
  <mat-form-field appearence="legacy" color="accent">
    <mat-label>Group Name</mat-label>
    <input matInput value="{{ data.groupName }}" #box1 />
  </mat-form-field>
  <br />
  <mat-form-field appearence="legacy" color="accent">
    <mat-label>Members</mat-label>
    <input matInput value="{{ arraylist() }}" #box2 />
  </mat-form-field>
</div>
<br />
<div class="buttons" style="display: block">
  <button class="buttonDesign close" (click)="dialogClose()">Cancel</button>
  <button class="buttonDesign save" (click)="dialogSave(box1.value, box2.value)">
    Save
  </button>
</div>
