
<div class="registerDiv">

  
<div class ="flexElement"><h2>Register</h2></div>


<div class="errorgroßnonvisible"  [ngClass]="{ error: errorall() } ">Error, please check your Inputs or retry later</div>
<div class="errorgroßnonvisible"  [ngClass]="{ error: erroruser() } ">Error, the Username ist already used</div>
    <!-- <div class="InputDoppel">
     
     <mat-form-field class="InputfildDoppel" appearance="fill"  color="accent">       
        <mat-label>Vorname</mat-label>
        <input required type="text" matInput #box1 >
      </mat-form-field>
     
      <mat-form-field class="InputfildDoppel" appearance="fill"  color="accent">       
        <mat-label>Nachname</mat-label>
        <input required type="text" matInput #box2 >
      </mat-form-field>
    </div> -->

    <div class="flexElement">
        <mat-form-field class="InputfildEinzel" appearance="legacy" hideRequiredMarker color="accent">       
            <mat-label>Username</mat-label>
            <input required matInput #Benutzer >
          </mat-form-field>

    </div>

    <div class="flexElement">
        <mat-form-field class="InputfildEinzel" appearance="legacy" hideRequiredMarker color="accent">       
            <mat-label>E-Mail adress</mat-label>
            <!-- <input matInput [formControl]="email" required #box3 > -->
            <input matInput placeholder="pat@example.com" [formControl]="control" required #Email>
            <mat-error *ngIf="control.invalid">{{getErrorMessage()}}</mat-error>
            <!-- <mat-error *ngIf="email.invalid">Üngültige Email</mat-error> -->
          </mat-form-field>

    </div>
    <!-- <div class="flexElement">
        <mat-form-field class="InputfildEinzel" appearance="fill"  color="accent">       
            <mat-label>Geburtsdatum</mat-label>
            <input required type="date" matInput #box4 >
          </mat-form-field>

    </div> -->
    <div class="erroronFalse"  [ngClass]="{ error: errorAbfrage() } ">Error, please check your password</div>
    <div class="flexElement">
        <mat-form-field class="InputfildEinzel" hideRequiredMarker appearance="legacy"  color="accent">       
            <mat-label>Password</mat-label>
            <input required type="password" matInput #pass1 >
          </mat-form-field>

    </div>
    <div class="flexElement">
        <mat-form-field class="InputfildEinzel" appearance="legacy" hideRequiredMarker color="accent">       
            <mat-label>Repeat password</mat-label>
            <input required type="password" matInput #pass2 >
          </mat-form-field>

    </div>
 

     
    <div class="flexElement">
        <a (click)="handleSubmit(Benutzer.value, Email.value, pass1.value, pass2.value)" class="buttonDesign">register</a>
    </div>

    
    


    </div>

