/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");

html {
  padding: 0 0 0 0;
  background-color: #f3f3f3;
}
body {
  margin: 0 0 0 0;
}

header {
  background-color: #686de0;
}

/* 
button{
    margin: 0 0 0 0;
    padding: 1rem 2rem 1rem 2rem;
    color: white; 
    background-color: #8f92ec; 
    border-radius: 50px;
*/

body {
  background: var(--maincolor);
  min-height: 100vh;
}

:root {
  /*  --maincolor: #f5f6fa; */
  --maincolor: linear-gradient(#f3f3f3, #dff9fb);
  --navcolor: #686de0;
  --boxcolor: white;
  --shadowcolor: silver;
  --LoginColor: #f5f6fa;
  --buttoncolor: #8f92ec;
}

h1 {
  font-family: "Baloo Tammudu 2", cursive !important;
  font-weight: bold !important;
  font-size: 4.9rem !important;
  margin: 1rem 0 1rem 0 !important;
  line-height: 100% !important;
}

h2 {
  font-family: "Baloo Tammudu 2", cursive !important;
  font-weight: bold !important;
  font-size: 3rem !important ;
  margin: 2rem 0rem 1rem 0 !important;
  line-height: 100% !important;
}

h3 {
  font-family: "Baloo Tammudu 2", cursive !important;
  font-weight: bold !important;
  font-size: 2rem !important;
  padding: 0rem 0rem 0rem 0rem !important;
  line-height: 100% !important;
  margin: 0 !important;
}

h4 {
  font-family: "Baloo Tammudu 2", cursive !important;
  font-weight: bold !important;
  font-size: 1rem !important;
  padding: 0rem 0rem 0rem 0rem !important;
  line-height: 100% !important;
  margin: 0 !important;
}

p {
  font-family: "Baloo Tammudu 2", cursive !important;
  line-height: 25px !important;
  line-height: 100% !important;
}

.highlight {
  font-weight: bold !important;
}

.big {
  font-size: 1.5rem !important;
}

.flexElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Font Sizes for Mobile */
@media screen and (max-width: 800px) {
    h1 {
        font-size: 3rem!important;
    }
    h2 {
        font-size: 2rem!important;
    }
    h3 {
        font-size: 1.5rem!important;
    }
    p {
        font-size: 1rem!important;
    }
    .big {
        font-size: 1rem!important;
    }
}
