/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

html{
    padding: 0 0 0 0;
    background-color: #f3f3f3;
}
body{
    margin: 0 0 0 0;
}


header{
    background-color: #686de0;
}

/* 
button{
    margin: 0 0 0 0;
    padding: 1rem 2rem 1rem 2rem;
    color: white; 
    background-color: #8f92ec; 
    border-radius: 50px;
} */

:root {
   /*  --maincolor: #f5f6fa; */
    --maincolor: linear-gradient(#f3f3f3, #dff9fb);
    --navcolor: #686de0;
    --boxcolor: white; 
    --shadowcolor:silver;
    --LoginColor: #f5f6fa;
    --buttoncolor: #8f92ec;
}

h1 {
    font-family: 'Baloo Tammudu 2', cursive !important;
    font-weight: bold !important;
    font-size: 5rem !important;
    margin: 1rem 0 1rem 0 !important;
    
}

h2 {
    font-family: 'Baloo Tammudu 2', cursive !important;
    font-weight: bold !important;
    font-size: 3rem !important ;
    margin: 2rem 0rem 1rem 0 !important;
    
}

h3 {
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: bold;
    font-size: 2rem;
    padding: 0rem 0rem 0rem 0rem;
}


p{
    font-family: 'Baloo Tammudu 2', cursive !important;
    line-height: 25px !important;
    
}


.highlight {
    font-weight: bold;
}



.big {
    font-size: 1.5rem;
}


/* Font Sizes for Mobile */
@media screen and (max-width: 800px) {
    h1 {
        font-size: 3rem;
        
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .big {
        font-size: 1rem;
    }
}

