<body style="background: var(--maincolor); height: 100%; padding-top: 2rem; padding-bottom: 3rem;">
    <div *ngIf = "!mobile">
        <h2 style="text-align: center;">
            Abrechnungen
        </h2> 
        <div *ngFor = "let data of gruppe" class="tableDiv">
            <h3 style="line-height: 0px">
                {{data}}
            </h3>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tableStyle">
            
                <!-- Position Column -->
                <ng-container matColumnDef="free">
                    <th mat-header-cell *matHeaderCellDef class="memberHeader">  </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <div *ngFor = "let member of gruppe">
                    <div *ngIf = "member != data">
                        <ng-container matColumnDef={{member}}>
                            <th mat-header-cell *matHeaderCellDef class="memberHeader"> {{member}} </th>
                            <td mat-cell *matCellDef="let element" class="memberColumn"> {{element.name}} </td>
                        </ng-container>
                    </div>  
                </div>
            
                <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(data)"></tr>
                <tr mat-row *matRowDef="let row; columns: getDisplayedColumns(data);"></tr>
            </table>
        </div> 
    </div>
    <div *ngIf = "mobile">
        <h2 style="text-align: center;">
            Abrechnungen
        </h2>
        <div *ngFor = "let data of gruppe; let i = index" class="tableMobileDiv">
            <div class="memberExpandable">
                <h3 style="line-height: 0px">
                    {{data}}
                </h3>
                <button id="{{ 'button-' + i }}" (click)="onClickExpand($event)">+</button>
            </div>
            <div *ngIf = "isExpanded(data)">
                <div id="{{ 'table-' + i }}" class="tableWrapper">
                    <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 tableStyle">
                
                        <!-- Position Column -->
                        <ng-container matColumnDef="free">
                            <th mat-header-cell *matHeaderCellDef class="memberHeader">  </th>
                            <td mat-cell *matCellDef="let element"> {{element.member}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef=Erhalten>
                            <th mat-header-cell *matHeaderCellDef class="memberHeader"> Erhalten </th>
                            <td mat-cell *matCellDef="let element" class="memberColumn"> {{element.erhalten}} </td>
                        </ng-container>
        
                        <ng-container matColumnDef=Bezahlen>
                            <th mat-header-cell *matHeaderCellDef class="memberHeader"> Bezahlen </th>
                            <td mat-cell *matCellDef="let element" class="memberColumn"> {{element.bezahlen}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="mobileColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: mobileColumns"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
