<h2>Record Payment</h2>

<table class="mat-table">
  <div class="fields">
    <tr class="mat-header-row">
      <td class="mat-row">
        <mat-label>Reason</mat-label>
      </td>
      <td class="mat-row">
        <mat-form-field appearence="legacy" color="accent">
          <input matInput value="{{ data.reason }}" #boxReason />
        </mat-form-field>
      </td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">
        <mat-label>Payer</mat-label>
        <br />
        <br />
        <br />
        <br />
      </td>
      <td class="mat-cell">
        <mat-checkbox class="" (change)="selfPaidName()"
          >Paid myself
        </mat-checkbox>
        <br />
        <mat-form-field appearence="legacy" color="accent">
          <input matInput value="{{ data.userPaid }}" #boxPayer />
        </mat-form-field>
      </td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">
        <mat-label>Members</mat-label>
      </td>
      <td class="mat-cell">
        <mat-form-field appearence="legacy" color="accent">
          <input matInput value="{{ data.members }}" #boxMembers />
        </mat-form-field>
      </td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">
        <mat-label>Amount</mat-label>
      </td>
      <td class="mat-cell">
        <mat-form-field appearence="legacy" color="accent">
          <input
            type="number"
            number
            matInput
            value="{{ data.amount }}"
            #boxAmount
          />
        </mat-form-field>
      </td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell">
        <mat-label>Description</mat-label>
      </td>
      <td class="mat-cell">
        <mat-form-field appearence="legacy" color="accent">
          <input matInput value="{{ data.description }}" #boxDescription />
        </mat-form-field>
      </td>
    </tr>
  </div>
</table>

<br />
<div style="display: block">
  <button class="close" (click)="dialogClose()">Cancel</button>
  <button
    class="save"
    (click)="
      data.reason = boxReason.value;
      data.userPaid = boxPayer.value;
      data.members = boxMembers.value;
      data.amount = boxAmount.value;
      data.description = boxDescription.value;
      dialogClose()
    "
  >
    Save
  </button>
</div>
